<div>
    <nav class="navbar navbar-expand-lg navbar-light mb-3">
        <img src="assets/img/j_icon.png" class="img_icon">
        <button class="navbar-toggler"
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link link-item" (click)="onHome()">
                        Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link link-item" (click)="onLogout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
