<div class="row">
    <div class="col-1">
        <app-side-menu></app-side-menu>
    </div>
    <div class="col-10 ml-4">
        <app-alert [message]="settingMessage" 
        *ngIf="settingMessage" 
        (close)="onCloseAlert()"></app-alert>
        <h1>Settings</h1>
        <form [formGroup]="profileForm">
            <div>
                <div class="row">
                    <div class="col-5">
                        <img [src]="imagePath.value" class="img-fluid">
                    </div>
                </div>
                <label>Image URL</label>
                <input 
                type="text" class="form-control" onClick="this.select();"
                formControlName="imagePath" #imagePath>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>First Name</label>
                    <input
                    type="text" 
                    class="form-control" 
                    formControlName="first_name"
                    placeholder="e.g. John">
                </div>
                <div class="col-xs-12 col-md-6">
                    <label>Last Name</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    formControlName="last_name"
                    placeholder="e.g. Smith">
                </div>
            </div>
            <button
            class="btn btn-outline-primary m-2"
            (click)="updateProfile()"
            [disabled]="!profileForm.valid">Update Profile
            </button>
        </form>
        <hr>
<!--         <form>
            <label>Username</label>
            <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Unique_Username">
        </form> -->
    </div>
    <div class="col-1"></div>
</div>
