<div class="card mb-3">
    <div class="card-header">
        Create Post
    </div>
    <div class="card-body">
        <form [formGroup]="postForm">
            <textarea
            id="message" 
            class="post-box form-control" 
            formControlName="message"
            (click)="onMessageClick()"
            (keyup.enter)="onMessageEnter($event)"
            autocomplete="off"
            style="resize: none;"></textarea>
            <button type="button"
            class="btn post-btn"
            [disabled]="!formValid()"
            (click)="onMessageEnter($event)">
                Post
            </button>
        </form>
    </div>
</div>
