<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About Project</h1>
      <p class="lead">
        This project is a show case of my skills as a front-end developer using Angular 8
        techniques that I have learned. By applying different methods, I was able to make an 
        application which allows the user to create an account and post messages to a public
        board for other users to see. The project is however flawed as the back-end features
        are minimal and inefficient. The following list below is the implemented features I 
        have for the project.
      </p>
      <h3>Implemented Features</h3>
      <li>
        Users can create a new account at the sign up page. Google Firebase handles both
        the creation of the user and authentication.
      </li>
      <li>
        The system checks for duplicate user names and emails and prevents duplicates from
        appearing in the database.
      </li>
      <li>
        When a user is authenticated, they gain access to the main page. On the main page,
        the user is able to post messages to the public to see. At the moment, there is
        no limit to the amount of characters the user can use.
      </li>
      <li>
        The user can update their profile from the settings tab.
      </li>
      <li>
        Users can click on the name of a user in their posts and go to their profile.
      </li>
      <li>
        Each user profile shows a history of all their posts they have made before.
      </li>
      <h3>Flaws</h3>
      <li>
        At the moment, due to my limited knowledge of Google Firebase, I obtain all posts
        from the database. In the future, this would cause longer request times for the user 
        as more posts are added to the server.
      </li>
      <li>
        As this is a project focusing on the front-end development, I do not have any 
        query methods to access. In a future update, it would be more likely I would use 
        a personalized back-end I implement myself such as node.js using Heroku as a server.
      </li>
      <a href="https://github.com/UWJimP/Social-Media-Post-Board-Project">
        <button class="btn btn-primary">GitHub Code</button>
      </a>
    </div>
  </div>