<div class="row">
    <div class="col-xs-12 col-md-6">
        <div>
            <img src="assets/img/j_icon.png" class="w-100 h-100">
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div>
            <h1>Welcome to the Social Media Post Board App!</h1>
            <span>This is a resume project to showcase my skills using Angular 8.
            To continue, either login or sign up for an account.
            Your data is stored using Google's Firebase servers.</span>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block mt-3 mb-5">Sign Up</button>
        </div>
    </div>
</div>
