
.font-source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.font-raleway {
    font-family: 'Helvetica Neue', sans-serif;
}

.background-img {
    background-image: "assets/img/j_icon.png";
}

.front-background {
    background-color: #000080;
}

